.banner{
    margin: 80px 0;
    &__content{
        &-storage{
            margin-bottom: 32px;
        gap: 12px;
        & span{
            font-size:$font-xl-size;
            color: $default-white-color;
        }
        }
        & .title{
            margin-bottom: 52px;
        }
        p{
            max-width: 420px;
        }
        p:last-of-type{
            margin-bottom: 40px;
        }
        & .btn-success{
            padding: 9px 17px;
            font-size:$font-sm-ex-size;
        }
    }
   
}