.sign-in-modal,
.registration-modal{
    &__content{
        background-color: $dark-main-bg;
        border-color:$main-btn-color;
        width: inherit;
    }
    & .modal-body{
        input{
            background-color: $dark-main-bg;
            border-color: $main-btn-color;
            color:$dark-title-color;
            font-size: $font-md-size !important;
            &:focus{
                box-shadow: 0 0 0 0.25rem rgb(53 91 38 / 25%);
            }
        }
    }
    & .modal-footer{
        border-color:$main-btn-color;
    }
}
.registration-modal{
    .form-text{
        color: $dark-main-color;
        font-size: $font-sm-ex-size;
    }
}

html.light {
    .sign-in-modal,
    .registration-modal{
        &__content{
            background-color:$dark-title-color;
        }
        & .modal-body{
            input{
                background-color:$dark-title-color;
                color:$light-title-color;
            }
        }
    }
    .registration-modal{
        .form-text{
            color:$light-title-color;
        }
    }
}