.get-started{
    margin: 100px 0;
    &__wrapper{
        padding-bottom: 100px;
        border-bottom: 1px solid  $border-color;
    }
    .subtitle{
        color: #BBBBBB;
        font-weight: 400;
        margin-bottom: 45px;
        span{
            color: $dark-title-color;
            font-weight: 700;
        }
    }
    
}

html.light .get-started{
    span{
        color:$main-btn-color;
    }
}