body {
  font-family: $font-family;
  font-size: $font-md-size;
  color: $dark-main-color;
  background-color: $dark-main-bg;
}

.container {
  @media (min-width: 1200px) {
    max-width: $desktop-container-width;
  }
}

.title {
  font-size: $font-xxl-ex-size;
  line-height: 58px;
  font-weight: 700;
  @media (max-width: 415px) {
    font-size: $font-xll-size;
  }
}

.subtitle {
  font-size: $font-xll-size;
  font-weight: 400;
}

h3 {
  font-size: $font-xl-size;
}

.title,
.subtitle,
h3 {
  color: $dark-title-color;
}

.btn-success {
  background-color: $main-btn-color;
  border: 1px solid $main-btn-color;

  &:hover {
    background-color: transparent;
    color: $main-btn-color;
    transition: $transition;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-secondary {
  padding: 6px 13px;
  background: $secondary-btn-color;
  border-color: $secondary-btn-color;

  &:hover {
    background-color: transparent;
    transition: $transition;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-outline-secondary {
  font-size: $font-sm-ex-size;
  color: $dark-gray-color;
  padding: 6px 10px;
  border: none;

  &-active,
  &:hover,
  &:active,
  &:focus {
    color: $dark-title-color;
    background: $secondary-btn-color;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.043);
    border-radius: 4px;
    transition: $transition;
  }
}

html.light {
  body {
    background-color: $light-main-bg;
    color: $light-main-color;
  }

  .title,
  .subtitle,
  h3 {
    color: $light-title-color;
  }
}


ul {
  list-style: none;
}
