$font-family:'Roboto',sans-serif;

$font-xxl-ex-size:48px;
$font-xll-size:36px;
$font-xl-size:18px;
$font-lg-size:16px;
$font-md-size:14px;
$font-sm-size:13px;
$font-sm-ex-size:12px;

$dark-main-bg:#181818;
$dark-main-color:#E0E0E0;
$dark-title-color:#ffffff;
$dark-gray-color:#666666;

$light-main-bg:#f8f9fa;
$light-main-color:#687076;
$light-title-color:#333333;

$main-btn-color:#24B47E;
$secondary-btn-color:#2A2A2A;
$border-color:#2A2A2A;

$desktop-container-width:1121px;
$transition:.5s;
