.banner{
    @media (max-width:1121px)  {
        &__content{
            .title{
                margin-bottom: 25px !important;
            }
        }
    }
    @media (max-width:415px) {
        &__content{
            &-storage{
                margin-bottom: 5px !important;
            }
            & .btn-success{
                display: block;
                width: 100%;
            }
        }
    }
}